<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.naunehalendline">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- TakePhoto Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.main"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.sections.Section08SE2Activity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section08SE3Activity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section08SE1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section07CVActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section06BFActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section05PDActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section03CSActivity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.Section01HHActivity"
            android:exported="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.EndingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".database.AndroidManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.lists.FormsReportPending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportCluster"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportDate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.lists.HouseholdScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.IdentificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.Section02CBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.Section04IM1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.Section04IM2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <!--
        <meta-data
                    android:name="YEK_REVRES"
                    android:value="GSTa@ndInC%apACIT12B?E(H+MbQeThWmZq4t7w!zsCsF)J@NcRfUjXn2r5u8x/A" />
        -->

        <meta-data
            android:name="YEK_REVRES"
            android:value="8x/A%D*2S!urviVoP%RACTiC1$BSE(H+MbQeThWmZq4t7w!z%C*F-J@NcRfUjXn2" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="8" />
    </application>

</manifest>